<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!-- Define the appenders -->
    <Appenders>

        <File name="InfoAppender" fileName="logs/info_logs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <!-- File Appender -->
        <File name="FileAppender" fileName="logs/error_logs.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <!-- Define the loggers -->
    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="InfoAppender" />
        </Root>
        <Logger name="com.restaurant.menu" level="error">
            <AppenderRef ref="FileAppender" />
        </Logger>
    </Loggers>
</Configuration>